<script src="/public/assets/require/require.js"></script>
<script>
    require.config({
        baseUrl:'/public/assets',
        paths:{
            common:'../js/common',
            jquery:'./jquery/jquery',
            cookie:'./jquery-cookie/jquery.cookie',
            login:'../js/login',
            template:'./artTemplate/template-web',
            teacherList:'../js/teacher-list',
            bootstrap:'./bootstrap/js/bootstrap',
            teacherAdd:'../js/teacher-add',
            util:'../js/util',
            datepicker:'./bootstrap-datepicker/js/bootstrap-datepicker',
            language:'./bootstrap-datepicker/locales/bootstrap-datepicker.zh-CN.min',
            form:'./jquery-form/jquery.form',
            validate:'./validate/jquery-validate',
            settings:'../js/settings',
            uploadify:'./uploadify/jquery.uploadify.min',
            region:'./jquery-region/jquery.region',
            ckeditor:'./ckeditor/ckeditor',
            index:'../js/index',
            courseList:'../js/course-list',
            courseAdd:'../js/course-add',
            courseBasic:'../js/course-basic',
            coursePicture:'../js/course-picture'
        },
        shim:{
            bootstrap:{
                deps:['jquery']
            },
            language:{
                deps:['jquery','datepicker']
            },
            validate:{
                deps:['jquery']
            },
            uploadify:{
                deps:['jquery']
            }
        }
    })
    require(['common']);
</script>
<!-- <script src="/public/assets/jquery/jquery.min.js"></script>
<script src="/public/assets/jquery-cookie/jquery.cookie.js"></script>
<script src="/public/assets/bootstrap/js/bootstrap.min.js"></script>
<script src="/public/assets/nprogress/nprogress.js"></script>
<script src="/public/assets/echarts/echarts.min.js"></script> -->
<!-- <script src="/public/js/common.js"></script> -->