<script src="/public/assets/require/require.js"></script>
<script>
    require.config({
        baseUrl:'/public/assets',
        paths:{
            common:'../js/common',
            jquery:'./jquery/jquery',
            cookie:'./jquery-cookie/jquery.cookie',
            login:'../js/login',
            template:'./artTemplate/template-web',
            teacherList:'../js/teacher-list'
        }
    })
    require(['common']);
</script>
<!-- <script src="/public/assets/jquery/jquery.min.js"></script>
<script src="/public/assets/jquery-cookie/jquery.cookie.js"></script>
<script src="/public/assets/bootstrap/js/bootstrap.min.js"></script>
<script src="/public/assets/nprogress/nprogress.js"></script>
<script src="/public/assets/echarts/echarts.min.js"></script> -->
<!-- <script src="/public/js/common.js"></script> -->